@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}


.portfolio-slider {
  .slick-slide {
    padding: 10px 20px;
    /* Adjust the gap between images */
  }
}

.portfolio-item {
  height: 200px;
  /* Set the height of image container */
}

.portfolio-item-inner {
  position: relative;
  height: 100%;
  width: 100%;
}